/*GERAL*/
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

html, body{
    width: 100%;
    overflow-x:hidden;
}
  
.container-fluid{
    width: 100%;
}

/*Navbar*/

.navbar{
    padding-top:0%!important;
    padding-bottom:0%!important;
}

.navbar .container-fluid {
    /*background-color:#3d6694!important;*/
    padding:0.5rem;
    padding-left: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
}

.logo{
    max-width: 150%;
}

.nav-link {
    color:white!important;
    font-family: 'Poppins', sans-serif;
    margin-top: 7px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem!important;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.fixed-top {
    z-index: 1000!important;
}

.navbar-light .navbar-toggler {
    border:none;
}



body{min-height:200vh;}
.navbar .container-fluid{
  transition:500ms ease;
  background:transparent;
}
.navbar .container-fluid.scrolled{
  background:#000;
}

.collapse .navbar-collapse{
    background-color: blue;
}

/*Header*/

.banner .container-fluid{
    width: 100%;
}
.banner-overlay{
    display: block;
    width: 100%;
    height:36em;
}
.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:36em;
}

.headline-text{
    padding-top: 10%;
    padding-left: 15%;
    max-width: 60%;
    font-family: 'Poppins', sans-serif;
}

.headline-text h2{
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;

}

.headline-text p{
    font-size:2em;
    font-weight: 500;
}

.headline-text .btn-primary{
    padding: 0.7em 4em;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    color:white;
    border-width: 2px;
    border-color: white;
    background-color: transparent;
}

.gradient-banner{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.13518910982361698) 46%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 100%;;
    top:0%;
}

.banner-overlay .btn-primary:hover{
    background-color: #2a7c68;
    border-color: white;
}

.conteudo{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
}
/*PROJETO*/
.portfolio{
    width: 100%;
    margin-bottom: 3%;
}

.projeto1-img{
    padding:0.5%;
    background-color:#dee2ec;
}

.projeto1-img img{
    padding: 2%;
}

.conteudo h2{
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/*Footer*/
.footer{
    background-color:#0e7369;
    width: 100%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    bottom: 0%;
}

.footer-content{
padding:2%;
}

.footer-nav{
    padding-left: 0%!important;
    margin-left: 0!important;
    right: 0%;
}

.footer-nav ul{
    padding-left: 0%!important;
    margin-left: 0!important;
    right: 0%;
}

.footer-heading{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.footer-social{
    margin-left: 0%;
    margin-top: 2%;
}

.footer-social li{
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
}

.footer-social ul{
    margin-left: 0%;
    padding-left: 0%;
}

.footer-content hr{
    color: white;
    height: 3px!important;
}

.footer-social a:hover{
    color: aquamarine;
}

.footer-nav ul li{
    display: inline-block;
}

.footer-nav{
    right: 0%;
}

.footer-social a:hover{
    color:#38cebb!important;
}

.footer-social a{
    color:white!important;
    
}






/*------------------------*MEDIA QUERIES*--------------------------------*/

@media (max-width:575px){
    
    .headline-text h2{
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;
        /*text-align: center;
        padding-left: none;*/
    }

    .headline-text{
        padding-top: 17%;
        max-width: 90%;
        font-family: 'Poppins', sans-serif;
        padding-left: none;
    }

    .headline-text p{
        font-size:1.7em;
        font-weight: 500;
        /*text-align: center;*/
    }

    .banner-overlay .btn-primary{
        text-align: center;
        /*margin-left: 10%;
        padding: auto;*/
    }

    .logo-footer img{
        max-width: 40%;
    }
    
    .footer-content{
        margin-left: 2%!important;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .logo-footer img{
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .logo-footer img{
        width: 100%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .logo-footer img{
        max-width: 70%;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  
    .logo-footer img{
        max-width: 70%;
    }  
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .logo-footer img{
        max-width: 70%;
    }
}
    
